<!doctype html>

<head>
    <title>CEEO Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <header><h1> Tufts CEEO App </h1></header>
    <hr>

    <button onclick="hidePartsList()" class="hover">Parts List</button>
    <div id="partsList">
        <p>
            <b> All parts in document: </b><br>
            {% for part in return1 %}
                <br>{{part}}
            {% endfor %}
        </p>
    </div>
    <hr>

    <form action="/gif">
        <h3 style="text-align:left; color:#000000;"> GIF Maker </h3>

        <label for="frames">Frames:</label>
        <input type="number" id="frames" name="frames" value={{FRAMES}} style="width:50px"><br><br>

        <label for="rotation">Total Rotation (in degrees):</label>
        <input type="number" id="rotation" name="rotation" value={{ROTATION}} style="width:60px" step="0.01"><br><br>

        <label for="zoom_auto" class="switch">
            <span>No Zoom (Automatically Zooms):<input type="checkbox" id="zoom_auto" name="zoom_auto" onclick="showZooms()"
                                                       class="checkbox" {% if ZAUTO %} checked {% endif %}></span>
        </label><br><br>

        <div id="zooms" {% if ZAUTO %} style="display:none;" {% endif %}>
            <label for="zoom_start">Starting Zoom:</label><br>
            <input type="range" min="1" max="1000" id="zoom_start_slider" name="zoom_start" value={{ZSTART}} class="slider"><br>
            <input type="number" id="zoom_start" value={{ZSTART}} style="width:50px" class="move"><br><br>

            <label for="zoom_end">Ending Zoom:</label><br>
            <input type="range" min="1" max="1000" id="zoom_end_slider" name="zoom_end" value={{ZEND}} class="slider"><br>
            <input type="number" id="zoom_end" value={{ZEND}} style="width:50px" class="move"><br><br>
        </div>

        <label for="start_view">Choose The Starting View Angle:</label>
        <select name="start_view" id="start_view">
            {%for part in range(0, return2_len)%}
                <option value="{{return2[part]}}" {% if selected1==return2[part] %} selected="selected" {% endif %}>{{return2[part]}}</option>
            {% endfor %}
        </select><br><br>



        <div id="submit"><input type="submit" value="Submit" class="hover button" onclick="showLoader()"></div>
        <div class="loader-container" id="loader"><div class="loader"></div></div>

        {% if condition1 %}
            <img src="{{ image1 }}" alt="GIF of the assembly"/>
        {% endif %}

    </form>
    <hr>

    <button onclick="hideIdList()" class="hover">Document ID's</button>
    <div id="idList">
        <p id="did">DocumentId: {{DID}}</p>
        <p id="wid">WorkspaceId: {{WID}}</p>
        <p id="eid">ElementId: {{EID}}</p>
    </div>

    <form action="/home">
        <br>
        <input type="submit" value="Reset" class="hover button">
    </form>
    <br>
</body>

<script>
function hidePartsList() {
  const x = document.getElementById("partsList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function hideIdList() {
  const x = document.getElementById("idList");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}

function showLoader() {
  let x = document.getElementById("submit");
  let y = document.getElementById("loader");
  const id1 = document.getElementById("frames");
  const id2 = document.getElementById("rotation");
  const id3 = document.getElementById("zoom_start");
  const id4 = document.getElementById("zoom_end");


  if (x.style.display === "none" || !id1.checkValidity() || !id2.checkValidity()
  || !id3.checkValidity() || !id4.checkValidity()) {
    x.style.display = "block";
    y.style.display = "none";
  } else {
    x.style.display = "none";
    y.style.display = "block";
  }
}

var slider = document.getElementById("zoom_start_slider");
var input = document.getElementById("zoom_start");
var slider2 = document.getElementById("zoom_end_slider");
var input2 = document.getElementById("zoom_end");

var inputValue = parseInt(input.value);
var inputValue2 = parseInt(input2.value);
slider.value = inputValue; // Display the default value
slider2.value = inputValue2; // Display the default value

// Update the current slider value (each time you drag the slider handle)
slider.oninput = function() {
  input.value = this.value;
}
slider2.oninput = function() {
  input2.value = this.value;
}
input.oninput = function() {
  slider.value = this.value;
}
input2.oninput = function() {
  slider2.value = this.value;
}

function showZooms() {
  let x = document.getElementById("zooms");

  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
    input.value = inputValue;
    slider.value = inputValue;
    input2.value = inputValue2;
    slider2.value = inputValue2;
  }
}
</script>